build
build*
*.code-workspace
*__pycache__*
nrf/

# Zephyr workspace
/bootloader
/modules
/tools
/zephyr
__pycache__
/nrf
/nrfxlib
/test

.cache
.ccls-cache

/.direnv

.venv/
external
**/build*/
.vscode/compile_commands.json
